body {
  background-color: black;
  color: lightgray;
  font-family: Candara, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  padding: 20px;
  text-align: center;
}

header img {
  display: block;
  margin: 0 auto;
  max-width: 250px;
  height: auto;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: lightgray;
  text-decoration: none;
  padding: 10px;
}

section {
  padding: 50px;
  text-align: center;
}

section#accomplishments {
  padding: 50px;
  text-align: center;
}

section#accomplishments ul {
  display: inline-block;
  text-align: left;
}


footer {
  background-color: #333;
  color: lightgray;
  padding: 20px;
  text-align: center;
}
